@model EditUserPassword
<form style="display: inline-block; border: 2px solid green; border-radius: 5px; padding: 10px; margin-top: 10px;" asp-action="EditPassword" asp-controller="Home" asp-route-user_id="@ViewBag.User.UserId" method="post">
    <h2>Change Password</h2>
    <span style="color: red;" asp-validation-for="Password"></span>
    <p> Password:
    <input class="form-control" type="password" asp-for="Password" placeholder="********">
    </p>
    <span style="color: red;" asp-validation-for="PassConf"></span>
    <p> Password Confirmation:
    <input class="form-control" type="password" asp-for="PassConf" placeholder="********">
    </p>
    <button style="display: block; float: right;" class="btn btn-outline-success">Update Password</button>
</form>